.default {
    box-shadow: 0px 0px 0px 2px #9fb4f2;
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    background-color:#7892c2;
    border-radius:10px;
    border:1px solid #4e6096;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:16px;
    padding:7px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    outline: none;
    margin: 10px;
}


.default:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 80%);
    background-color:#476e9e;
}
.default:disabled {
    background:linear-gradient(to bottom, #535353 5%, #797979 100%);
    background-color: #5a5a5a;
    border:1px solid #585858;
    outline: none;
    box-shadow: none;
}
.default:focus {

}

.red {
    box-shadow: 0px 0px 0px 2px #915757;
    background:linear-gradient(to bottom, #c27878 5%, #9e4747 100%);
    border-radius:10px;
    border:1px solid #915757;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:16px;
    padding:7px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
    outline: none;
    margin: 10px;
}

.red:hover {
    background:linear-gradient(to bottom, #9e4747 5%, #c27878 80%);
    background-color:#476e9e;
}
button:active {
    position:relative;
    top:2px;
}