
.container {
    width: 50vh;
    min-height: 50vh;
    background-color: #ededfd;
    border-radius: 10px;


    display: block;
    justify-content: center;
    margin: 0 auto;
}

.wrapper {
    /*display: inline-block;*/
    margin-top: 50px;
    padding-right: 120px;

}